{% extends 'index/index.html' %}

{% block 'header_block' %}
<ul>  
    <li><a href={% url 'crear_recomendacion_serie' %}>Crear Recomendación de Serie</a></li>
    <li><a href={% url 'busqueda_series' %}>Buscar recomendaciones de Series</a></li>
</ul>
{% endblock 'header_block' %}

{% block body_block %}

    <h3>Esta es la lista de series realizadas por otros usuarios</h3>


    {% for serie in lista_series %}
        <li>
            {{serie}}
            <a href={% url 'actualizar_recomendacion_serie' serie.id %}>Editar</a>
            <a href={% url 'borrar_recomendacion_serie' serie.id %}>Borrar</a>
        </li>
    {% endfor %}

{% endblock body_block %}